<h3>Add Concerts Here! </h3>

<br> 
<br>
<%= form_for @my_event do |f| %>
	<%=f.label :artist %>
	<%=f.text_field :artist %>
<br>
<br>
	<%=f.label :venue %>
	<%=f.text_field :venue %>
<br>
<br>
	<%=f.label :city %>
	<%=f.text_field :city %>
<br>
<br>
	<%=f.label :date %>
	<%=f.date_field :date %>
<br>
<br>
	<%=f.label :price %>
	<%=f.text_field :price %>
<br>
<br>
	<%=f.label :description %>
	<%=f. text_area :description %>

	<%= f.button %>

<br>
<br>

<%= link_to "Home", events_path %>
<%end %>


