<div class="concert">

<h3> Concert Details </h3>
Artist: <%= @my_event.artist %> 
<br>
Venue: <%= @my_event.venue %> 
<br>
City: <%= @my_event.city %>
<br> 
Date: <%= @my_event.date %> 
<br>
Ticket price:$<%= @my_event.price %>
<br> 
Event Description:<%= @my_event.description %> 
</div>