<!DOCTYPE html>
<html>
  <head>
    <title>CMDApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel='shortcut icon' type='image/x-icon' href='/assets/revised-logo.png' />
  </head>

  <body>

<nav class="navbar navbar-inverse navbar-toggleable-sm" style="background-color: #091657">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="/assets/revised-logo.png" style="width: 70px;" alt="Logo">
		</a>
		
		<div class = "navbar-nav">
			<a class="nav-item nav-link active" href='/'>Chatbot</a>
			<a class="nav-item nav-link disabled" href='#'>EHR Builder</a>
			<a class="nav-item nav-link disabled" href='#'>Tutorials</a>

			<% if user_signed_in? %>
				<a class="nav-item nav-link active" href='/users/edit'>Edit registration</a>
  			<% else %>
  				<a class="nav-item nav-link active" href='/users/sign_up'>Register</a>
			<% end %>

			<% if user_signed_in? %>
				<a class="nav-item nav-link active" href='/users/sign_out'>Logout</a>
  			<% else %>
  				<a class="nav-item nav-link active" href='/users/sign_in'>Login</a>
			<% end %>
		</div>
	</div>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container-fluid text-center bg-light">
    <%= yield %>
</div>

  </body>
</html>
