<h2>Sandwich Details</h2>

<p class="js-sandwich" data-sandwich=<%= @sandwich.id %>>
	<%= @sandwich.name %>
</p>
<p>
	Bread Type: <%= @sandwich.bread_type %>
</p>
<p class="js-cals" data-cals=<%= @sandwich.total_calories %>> 
	Total Calories: <%= @sandwich.total_calories %>
</p>
<ul class="js-ingredients-list">
	<h3>On sandwich</h3>
	<% @sandwich.ingredients.each do |ingredient| %>
		<li>
			<h4><%= ingredient.name %></h4>
			<p> Calories: <%= ingredient.calories %></p>
		</li>
	<%end%>
</ul>


<h3>Possible Ingredients</h3>
<% @ingredients.each do |i| %>
<button class="js-ingredients" data-ingredient=<%=i.id%>>
	<%= i.name %>
	<%= i.calories %>
</button>
<%end%>
