<h1>YOUR LINKS WORK!</h1>

<p class="js-sandwich" data-sandwich=<%= @sandwich.id %>><%= @sandwich.name %></p>
<%= @sandwich.bread_type %>
<p class="js-cals" data-cals=<%= @sandwich.total_calories %>> <%= @sandwich.total_calories %></p>
<ul class="js-ingredients-list">
<h3>On sandwich</h3>
<% @sandwich.ingredients.each do |ingredient| %>
<li><%= ingredient.name %></li>
<%end%>
</ul>


<h3>Possible Ingredients</h3>
<% @ingredients.each do |i| %>
<button class="js-ingredients" data-ingredient=<%=i.id%>>
	<%= i.name %>
	<%= i.calories %>
</button>
<%end%>
